@use "sass:math";
@import "../../styles/base/_vars";
@import "../../styles/base/functions";

.technology {
  background: url("../../assets/img/technology/background-technology-desktop.jpg");

  &__container {
    padding-left: prc(166, 1440);
  }

  &__wrapper {
    margin-top: 26px;
    display: flex;
    align-items: center;
  }

  &__image {
    max-width: 500px;
    img {
      width: 100%;
    }
  }

  &__text {
    margin-right: 30px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 11px 0 17px;
  }

  &__desc {
    max-width: 444px;
  }

  &__sub-title {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #d0d6f9;
  }

  &__tab-list {
    margin-right: 80px;
    display: flex;
    flex-direction: column;
  }

  &__tab-button {
    cursor: pointer;
    font-family: $primaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 2px;
    color: $bsLight;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background: none;
    mix-blend-mode: normal;
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: all 0.25s ease-out;
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      border-color: #fff;
    }
  }
  .dekstop-tabs {
    @media (max-width: $breakpointLg) {
    }

    @media (max-width: $breakpointLg) {
      display: none;
    }
  }

  .mobile-tabs {
    @media (min-width: $breakpointLg) {
      display: none;
    }
  }
}
